<!DOCTYPE html>
<html>
<head>
	<title>Godinez</title>
	<link rel="shortcut icon" type="image/png" href="static/images/favicon.png"/>
</head>
<body>
	<h1>Primeiro server Python<h3>by Laisson / Emerson</h3></h1>
	<label>Sites bacanas:</label>
	<ul>
        <li><a href="https://github.com/pyeve/eve-demo">https://github.com/pyeve/eve-demo</a></li>
		<li><a href="https://speakerdeck.com/nicola/developing-restful-web-apis-with-python-flask-and-mongodb">https://speakerdeck.com/nicola/developing-restful-web-apis-with-python-flask-and-mongodb</a></li>
		<li><a href="https://scotch.io/tutorials/build-your-first-python-and-django-application">https://scotch.io/tutorials/build-your-first-python-and-django-application</a></li>
		<li><a href="http://gitlab.digitro.com.br/stt/stt-release-manager/blob/master">http://gitlab.digitro.com.br/stt/stt-release-manager/blob/master</a></li>
	</ul>
	<label>Pages:</label>
	<ul>
		<li><a href="http://localhost:5000/emerson">http://localhost:5000/emerson</a></li>
		<li><a href="http://localhost:5000/laisson/2154231213">http://localhost:5000/laisson/2154231213</a></li>
	</ul>
</body>
</html>